<header class="site-header">
      <div class="header-wrapper">
        <div class="logo-container">
          <a class="logo-wrapper" href="https://www.baltimorecity.gov/">
            <img src="https://cdn.glitch.me/9231296d-c4a2-4ae5-bf51-127ce67bab94%2Flogo-b-and-w.png?v=1636573065101" width="55px" heigth="55px">
          <div class="logo-title">
            <span class="first-line">City of</span>
            <span class="second-line">Baltimore</span>
          </div>
          </a>
        </div>
        <div class="right-buttons">
          <div class="logged out">
            <a class="register-button" href="https://balt311.baltimorecity.gov/citizen/CitizenRegisterPage">
            Register
            </a>
            <a class="login-button" href="https://balt311.baltimorecity.gov/citizen/CitizenLoginPage?startURL=%2Fcitizen%2FCitizenLoginPage%3FstartURL%3Dhttps%253A%252F%252Fbalt311.baltimorecity.gov%252Fcitizen%252Fservicetypes">
            Login
            </a>
          </div>
          <button class="header-search-button" name="header-search-button" title="search">
            <img src="https://cdn.glitch.me/9231296d-c4a2-4ae5-bf51-127ce67bab94%2FScreen%20Shot%202021-11-01%20at%2010.47.34%20AM.png?v=1636574763482">
          </button>
        </div>
      </div>
  </header>