// Add your variables for colors, fonts, etc. here
$color-offblack: #0A0908;
$color-offwhite: #f5f2f2;
$color-grey: #ccc;

$color-yellow: #d4b252;
$color-lightTeal: #99ccc2;
$color-darkTeal: #4aa694;
$color-slate: #22333B;
$color-darkGrey: #42474f;
$color-darkerGrey:#33363b;


$color-text-body: $color-slate;
$color-text-link: $color-offblack;
$color-text-link-visited: $color-text-body;


$font-mono: "IBM Plex Mono",
monospace;

$transition-default: all 300ms;
